<div class="container">
  <footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-12 col-md">
        <h3>{{ site.title }}</h3>
        <small class="d-block mb-3 text-muted">{{ site.subtitle }}</small>
      </div>
      <div class="col-6 col-md">
        <h5>In welke buurt?</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Grimbergen, Strombeek, Humbeek, Vilvoorde, Meise, Wolvertem, Brussel, ... </a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Waarom alleen daar?</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Je moet ergens beginnen</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Deze site</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="/about">Wie zit hierachter?</a></li>
        </ul>
      </div>
    </div>
  </footer>
</div>
<!-- Matomo -->
<script type="text/javascript">
    var _paq = window._paq = window._paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
        var u="//matomo.forret.com/";
        _paq.push(['setTrackerUrl', u+'matomo.php']);
        _paq.push(['setSiteId', '2']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
    })();
</script>
<!-- End Matomo Code -->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-8CHQXV17GC"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-8CHQXV17GC');
</script>
