<div class="container">
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-primary border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal"><a class="text-white font-weight-bold" href="/">{{site.title}}</a></h5>
  <nav class="my-2 my-md-0 mr-md-3">
      <a class="text-white" href="/tags">Keuken</a> &bull;
      <a class="text-white" href="/categories">Afhalen/levering</a> &bull;
      <a class="text-white" href="/about">Over deze site</a>
  </nav>
</div>
    <img width="100%" src="/assets/banner.jpg">
</div>
